<div class="top-bar">
  <div>MAIL: <a class="toplink" href="mailto:contact@shodesh.org">contact@shodesh.org</a></div>
  <div>PHONE: <a class="toplink" href="tel:+8801712345678">+880 1712 345 678</a></div>
</div>

<div class="navbar">
  <div class="logo"><strong>SHODESH</strong></div>

  <nav class="nav-links">
    <a href="index.html" data-nav="home">Home</a>
    <a href="about.html" data-nav="about">About</a>
    <a href="contact.html" data-nav="contact">Contact</a>
    <a href="resources.html" data-nav="resources">Resources</a>
    <a href="search.html" data-nav="search">Search</a>
    <a href="browse.html" data-nav="categories">Categories</a>
    <a href="signin.html" data-nav="signin">Sign In</a>
    <a href="volunteer.html" data-nav="join">Join Our Team</a>
  </nav>
</div>
