.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.desktop .div {
  background-color: #ffffff;
  height: 100vh;
  position: relative;
  width: 100vw;
  max-width: 1440px;
  display: flex;
}

.desktop .image {
  height: 50vh;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 50vw;
  max-width: 717px;
}

.desktop .img {
  height: 50vh;
  left: 0;
  position: absolute;
  top: 50vh;
  width: 50vw;
  max-width: 717px;
}

.desktop .overlap {
  height: 38vh;
  left: 55vw;
  position: absolute;
  top: 12vh;
  width: 40vw;
  max-width: 603px;
}

.desktop .text-wrapper {
  color: #af3e3e;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 700;
  font-size: 3.5vw;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 80%;
}

.desktop .rectangle {
  background-color: rgba(74, 151, 130, 0.5);
  border-radius: 20px;
  height: 10.5vh;
  left: 0;
  position: absolute;
  top: 22vh;
  transform: rotate(-0.12deg);
  width: 100%;
}

.desktop .text-wrapper-2 {
  color: #000000;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.2vw;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 25vh;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.desktop .overlap-group {
  height: 10.5vh;
  left: 55vw;
  position: absolute;
  top: 35vh;
  width: 40vw;
  max-width: 575px;
}

.desktop .rectangle-2 {
  background-color: rgba(74, 151, 130, 0.5);
  border-radius: 20px;
  height: 10.5vh;
  left: 0;
  position: absolute;
  top: 0.1vh;
  transform: rotate(-0.12deg);
  width: 100%;
}

.desktop .text-wrapper-3 {
  color: #000000;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.2vw;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3vh;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.desktop .overlap-2 {
  height: 10.5vh;
  left: 55vw;
  position: absolute;
  top: 50vh;
  width: 40vw;
  max-width: 588px;
}

.desktop .text-wrapper-4 {
  color: #000000;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.2vw;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3vh;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

.desktop .overlap-3 {
  height: 10.5vh;
  left: 55vw;
  position: absolute;
  top: 65vh;
  width: 40vw;
  max-width: 588px;
}

.desktop .text-wrapper-5 {
  color: #000000;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.2vw;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3vh;
  white-space: nowrap;
  width: 100%;
  text-align: center;
}

/* Additional responsive styling */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

/* Hover and active effects for role selection boxes */
.desktop .overlap,
.desktop .overlap-group,
.desktop .overlap-2,
.desktop .overlap-3 {
  transition: transform 0.3s ease;
}

.desktop .overlap:hover .rectangle,
.desktop .overlap-group:hover .rectangle-2,
.desktop .overlap-2:hover .rectangle-2,
.desktop .overlap-3:hover .rectangle-2 {
  background-color: rgba(54, 121, 100, 0.7);
}

.desktop .overlap:active .rectangle,
.desktop .overlap-group:active .rectangle-2,
.desktop .overlap-2:active .rectangle-2,
.desktop .overlap-3:active .rectangle-2 {
  background-color: rgba(34, 101, 80, 0.8);
}

/* Media queries for better responsiveness */
@media screen and (max-width: 768px) {
  .desktop .text-wrapper {
    font-size: 4.5vw;
  }
  
  .desktop .text-wrapper-2,
  .desktop .text-wrapper-3,
  .desktop .text-wrapper-4,
  .desktop .text-wrapper-5 {
    font-size: 3vw;
  }
  
  .desktop .overlap {
    left: 52vw;
    width: 46vw;
  }
  
  .desktop .overlap-group,
  .desktop .overlap-2,
  .desktop .overlap-3 {
    left: 52vw;
    width: 46vw;
  }
}

@media screen and (max-width: 480px) {
  .desktop .text-wrapper {
    font-size: 6vw;
  }
  
  .desktop .text-wrapper-2,
  .desktop .text-wrapper-3,
  .desktop .text-wrapper-4,
  .desktop .text-wrapper-5 {
    font-size: 3.5vw;
  }
}
